<h1>Listing kvs</h1>

<table>
  <tr>
    <th>Fields</th>
    <th>Values</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @kvs %>
</table>

<br />

<%= link_to 'New Kv', new_kv_path %>
